<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th class="table-header">Date</th>
          <th class="table-header">Description</th>
          <th class="table-header">Time</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th class="table-header">9 Sep 2022</th>
          <td>
            <h6 class="table-project">Paletto</h6>
            <p class="table-description">
              Proin molestie, tellus nec tincidunt gravida.
            </p>
            <p class="table-employee">Yurij Moldavchuk (Yuramol)</p>
          </td>
          <td>07:00</td>
        </tr>
        <tr>
          <th class="table-header">15 Sep 2022</th>
          <td>
            <h6 class="table-project">Demigos</h6>
            <p class="table-description">
              Lorem ipsum dolor sit amet consectetur.
            </p>
            <p class="table-employee">Vitalii Pushkarov</p>
          </td>
          <td>05:00</td>
        </tr>
        <tr>
          <th class="table-header">12 Sep 2022</th>
          <td>
            <h6 class="table-project">SoftBee</h6>
            <p class="table-description">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi,
              velit.
            </p>
            <p class="table-employee">Yurij Moldavchuk (Yuramol)</p>
          </td>
          <td>03:00</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
