{
  "env": { 
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
   "prettier/prettier": [
      "warn",
      {
        "tabWidth": 2,
        "singleQuote": true,
        "semi": false,
        "trailingComma": "es5",
      },
    ],
    "no-console":"warn",
    "no-alert":"warn",
    "no-debugger":"warn",
    // "quotes":["single","warn"]
  }
}
